rth-table {
    display: inline-grid;
    background-color: green;
    border-color: brown;
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;

    grid-template-columns: 700px;
    grid-template-rows:  700px;
    place-items: center center;

    > * {
        grid-row: 1;
        grid-column: 1;
    }

    > tfc-tile {
        cursor: pointer;
        z-index: 10;
        transition: transform 300ms ease-in-out;
    }

    > tfc-tile[data-tile-position="wall"] {
        z-index: 1;
        &:nth-child(2n) {
            z-index: 2;
        }
    }

    > tfc-tile[data-tile="xx"]:after {
        content: attr(data-tile-index);
        display: block;
        text-align: center;
        line-height: 32px;
        font-size: x-small;
        color: rgba(255, 255, 255, 0.6);
    }

    &[data-tile-click-behaviour="splitAfter"] {
        > tfc-tile:nth-child(2n):hover {
            z-index: 3;
            box-shadow: -4px 0px 0px 0px rgba(255,0,0,0.75);
        }
    }

    &[data-tile-click-behaviour="splitBefore"] {
        > tfc-tile:nth-child(2n):hover {
            z-index: 3;
            box-shadow: 4px 0px 0px 0px rgba(255,0,0,0.75);
        }
    }
}
