<div style="margin: 10px 0">
    <input type="checkbox" id="training_wheels" #inputTrainingWheels [checked]="testServer.useTrainingWheels"
    (input)="testServer.useTrainingWheels = inputTrainingWheels.checked" />
    <label for="training_wheels">Training wheels</label>
</div>
<div style="display:flex;justify-content: space-between; width: 648px">
    <rth-player-select [(playerIndex)]="activePlayerIndex">
    </rth-player-select>

    <rth-tile-click-behaviour-select></rth-tile-click-behaviour-select>
</div>

<!-- <rth-table [gameState]="activePlayer.gameState" (tileClick)="clickWall($event.tileIndex, $event.type)"></rth-table> -->
<rth-table [gameService]="activeConnection">
    <!-- <span style="font-size: 2em; line-height: 0.1em; vertical-align: middle;cursor: pointer;" (click)="playerConnections[activeSeat].move.rollDice()"> -->
    
    <span style="font-size: 2em; line-height: 0.1em; vertical-align: middle;cursor: pointer;" (click)="activeConnection.move.rollDice()">
        {{die((activeConnection.diceValues$ | async)?.[0])}}
        {{die((activeConnection.diceValues$ | async)?.[1])}}
    </span>

</rth-table>


<!-- <div *ngIf="connection.gameState$ | async as gameState">

    <rth-table [gameState]="gameState" (tileClick)="clickWall($event.tileIndex, $event.type)">
        
            <span style="font-size: 2em; line-height: 0.1em; vertical-align: middle;cursor: pointer;" (click)="playerConnections[activeSeat].move.rollDice()">
                {{die(gameState, 0)}}
                {{die(gameState, 1)}}
            </span>
        
    </rth-table>

    <div style="display:flex;">
        <div *ngFor="let seat of [east, south, west, north]">
            <div>
                <input type="radio" name="active_seat" id="active_seat_{{seat}}" [value]="seat" [checked]="activeSeat === seat" (click)="activeSeat = seat" />
                <label for="active_seat_{{seat}}"><b>{{gameState.players[seat].name}}</b></label>
            </div>
        </div>
    </div>

    <button (click)="playerConnections[activeSeat].move.rollDice()">Roll</button>


    <div style="font-family: monospace;">
        <ng-container *ngFor="let tile of gameState.knownTiles">{{tile}} </ng-container>
    </div>
    <ng-container>

<tfc-tile tile="m1"></tfc-tile>
<tfc-tile tile="m2"></tfc-tile>
<tfc-tile tile="m3"></tfc-tile>
<tfc-tile tile="m4"></tfc-tile>
<tfc-tile tile="m5"></tfc-tile>
<tfc-tile tile="m6"></tfc-tile>
<tfc-tile tile="m7"></tfc-tile>
<tfc-tile tile="m8"></tfc-tile>
<tfc-tile tile="m9"></tfc-tile><br/>
<tfc-tile tile="p1"></tfc-tile>
<tfc-tile tile="p2"></tfc-tile>
<tfc-tile tile="p3"></tfc-tile>
<tfc-tile tile="p4"></tfc-tile>
<tfc-tile tile="p5"></tfc-tile>
<tfc-tile tile="p6"></tfc-tile>
<tfc-tile tile="p7"></tfc-tile>
<tfc-tile tile="p8"></tfc-tile>
<tfc-tile tile="p9"></tfc-tile><br/>
<tfc-tile tile="s1"></tfc-tile>
<tfc-tile tile="s2"></tfc-tile>
<tfc-tile tile="s3"></tfc-tile>
<tfc-tile tile="s4"></tfc-tile>
<tfc-tile tile="s5"></tfc-tile>
<tfc-tile tile="s6"></tfc-tile>
<tfc-tile tile="s7"></tfc-tile>
<tfc-tile tile="s8"></tfc-tile>
<tfc-tile tile="s9"></tfc-tile><br/>
<tfc-tile tile="z1"></tfc-tile>
<tfc-tile tile="z2"></tfc-tile>
<tfc-tile tile="z3"></tfc-tile>
<tfc-tile tile="z4"></tfc-tile>
<tfc-tile tile="z5"></tfc-tile>
<tfc-tile tile="z6"></tfc-tile>
<tfc-tile tile="z7"></tfc-tile>
<br />
<b>
    <tfc-tile tile="m1"></tfc-tile>
<tfc-tile tile="m2"></tfc-tile>
<tfc-tile tile="m3"></tfc-tile>
<tfc-tile tile="m4"></tfc-tile>
<tfc-tile tile="m5"></tfc-tile>
<tfc-tile tile="m6"></tfc-tile>
<tfc-tile tile="m7"></tfc-tile>
<tfc-tile tile="m8"></tfc-tile>
<tfc-tile tile="m9"></tfc-tile><br/>
<tfc-tile tile="p1"></tfc-tile>
<tfc-tile tile="p2"></tfc-tile>
<tfc-tile tile="p3"></tfc-tile>
<tfc-tile tile="p4"></tfc-tile>
<tfc-tile tile="p5"></tfc-tile>
<tfc-tile tile="p6"></tfc-tile>
<tfc-tile tile="p7"></tfc-tile>
<tfc-tile tile="p8"></tfc-tile>
<tfc-tile tile="p9"></tfc-tile><br/>
<tfc-tile tile="s1"></tfc-tile>
<tfc-tile tile="s2"></tfc-tile>
<tfc-tile tile="s3"></tfc-tile>
<tfc-tile tile="s4"></tfc-tile>
<tfc-tile tile="s5"></tfc-tile>
<tfc-tile tile="s6"></tfc-tile>
<tfc-tile tile="s7"></tfc-tile>
<tfc-tile tile="s8"></tfc-tile>
<tfc-tile tile="s9"></tfc-tile><br/>
<tfc-tile tile="z1"></tfc-tile>
<tfc-tile tile="z2"></tfc-tile>
<tfc-tile tile="z3"></tfc-tile>
<tfc-tile tile="z4"></tfc-tile>
<tfc-tile tile="z5"></tfc-tile>
<tfc-tile tile="z6"></tfc-tile>
<tfc-tile tile="z7"></tfc-tile>
</b>

        Wall:
        <div style="font-family: monospace;">
            <span *ngFor="let tileIndex of gameState.wall" class="tile">{{
                tileIndex === null ? undefined : gameState.knownTiles[tileIndex] ?? '--' | tileUnicode
            }}</span>
        </div>

        Known Tiles:
        <div style="font-family: monospace;">
            <ng-container *ngFor="let tile of gameState.knownTiles">{{tile ?? '--'}} </ng-container>
        </div>

        <div>
            <div *ngFor="let seat of [east, south, west, north]"
                style="margin:12px;">
                <div>
                    <b>{{gameState.players[seat].name}}</b>
                    <button (click)="playerConnections[seat].move.rollDice()">Roll</button>
                </div>
                <div>avatarUrl: {{gameState.players[seat].avatarUrl}} </div>
                <div>points: {{gameState.players[seat].points}} </div>
                <div>hand: {{gameState.players[seat].hand | json}} </div>
                <div>
                    <span *ngFor="let tile of gameState.players[seat].hand | pad:14:-1" class="tile" (click)="discard(tile)">
                        <ng-container *ngIf="tile !== -1">
                            {{(gameState.knownTiles[tile] ?? '--') | tileUnicode}}
                        </ng-container>
                    </span>
                </div>

                <div *ngIf="seat === playerWind && (sortTiles$ | async) as sortTiles">
                    <span *ngFor="let tile of gameState.players[seat].hand | sort:sortTiles | pad:14:-1" class="tile" (click)="discard(tile)" title="Dicard {{gameState.knownTiles[tile]}}">
                        <ng-container *ngIf="tile !== -1">
                            {{(gameState.knownTiles[tile] ?? '--') | tileUnicode}}
                        </ng-container>
                    </span>
                </div>

                <div>discards: {{gameState.players[seat].discards}} </div>
                <div>
                    <span *ngFor="let tile of gameState.players[seat].discards" class="tile" (click)="discard(tile)">
                        {{(gameState.knownTiles[tile] ?? '--') | tileUnicode}}
                    </span>
                </div>
                <div>melds: {{gameState.players[seat].melds}} </div>
                

                <ng-container *ngIf="seat === playerWind">
                    <button (click)="drawTile()">Draw</button>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div> -->
