<rth-renderer-host [gameService]="activeConnection" [activeSeat]="activePlayerIndex"></rth-renderer-host>

<div style="margin: 10px 0; position:relative; z-index:10000; color: white">
    <input type="checkbox" id="training_wheels" #inputTrainingWheels [checked]="testServer.useTrainingWheels"
    (input)="testServer.useTrainingWheels = inputTrainingWheels.checked" />
    <label for="training_wheels">Training wheels</label>
</div>
<div style="display:flex;justify-content: space-between; width: 648px; position:relative; z-index:10000">
    <rth-player-select [(playerIndex)]="activePlayerIndex">
    </rth-player-select>

    <rth-tile-click-behaviour-select></rth-tile-click-behaviour-select>
</div>

<rth-table [gameService]="activeConnection" [attr.data-tile-click-behaviour]="tileClickBehaviour$ | async">
    <span style="font-size: 2em; line-height: 0.1em; vertical-align: middle;cursor: pointer;color:white" (click)="activeConnection.move.rollDice()">
        {{die((activeConnection.diceValues$ | async)?.[0])}}
        {{die((activeConnection.diceValues$ | async)?.[1])}}
    </span>
</rth-table>
